.fila {
    display: flex;
  }
  .celda {
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
  }
  
  #uiTablero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #b0-0 {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  #b0-1 {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }
  
  #b0-2 {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
  }
  
  #b1-0 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  #b1-1 {
    border: 1px solid gray;
  }
  
  #b1-2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
  }
  
  #b2-0 {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
  }
  
  #b2-1 {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }
  
  #b2-2 {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
  }
  /* Reset Button */
  #resetear {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin-left: auto;
    border-radius: 8px;
    background-color: whitesmoke;
    color: dodgerblue;
    font-size: 20px;
    cursor: pointer;
  }
  
  #print {
    color: dodgerblue;
    font-size: 20px;
  }
  
  #main {
    text-align: center;
  }

  .celda {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }